.asesoriaBanner{
    padding-top: 120px; 	
    background-image: url(../../images/genericOffice6.jpg)
 }
 
.contabilidadBanner{
    padding-top: 120px; 	
    background-image: url(../../images/genericOffice7.jpg)
 }

.espanaBanner{
    padding-top: 120px; 	
    background-image: url(../../images/aselsaSpainBW.jpg)
 }

.europaBanner{
    padding-top: 120px; 	
    background-image: url(../../images/aselsaEuropaBW.jpg)
 }

.ivaBanner{
    padding-top: 120px; 	
    background-image: url(../../images/genericOffice8.jpg)
 }

.legalizarBanner{
    padding-top: 120px; 	
    background-image: url(../../images/genericOffice9.jpg)
 }

.offshoreBanner{
    padding-top: 120px; 	
    background-image: url(../../images/aselsaOffshoreBW.jpg)
 }

.sociedadesBanner{
    padding-top: 120px; 	
    background-image: url(../../images/britishFlag.jpg)
 }
